In [51]:
import pandas as pd
import numpy as np

In [52]:
ls

IEEE-TCE_2020-08-0175_SaYoPillow.pdf  e-shop clothing 2008.csv
IRIS.csv                              readme.docx
SaYoPillow.csv                        trains vs planes.csv
Untitled.ipynb

In [53]:
df1 = pd.read_csv("SaYoPillow.csv")
df2 = pd.read_csv("e-shop clothing 2008.csv",delimiter=';')
df3 = pd.read_csv("IRIS.csv")

In [54]:
df1['sl'].value_counts()

4    126
3    126
2    126
1    126
0    126
Name: sl, dtype: int64

In [55]:
df2

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165469,2008,8,13,1,29,24024,2,B10,2,4,1,67,1,1
165470,2008,8,13,1,9,24025,1,A11,3,4,1,62,1,1
165471,2008,8,13,1,34,24026,1,A2,3,1,1,43,2,1
165472,2008,8,13,2,34,24026,3,C2,12,1,1,43,1,1
165473,2008,8,13,3,34,24026,2,B2,3,1,2,57,1,1

In [56]:
df2 = df2.drop(["page 2 (clothing model)", "year", "month", "day", "page",  "order"], axis=1).drop_duplicates()

In [57]:
df2 = df2.sample(1000, random_state=0)

In [58]:
df2['page 1 (main category)'].value_counts()

1    316
2    236
3    228
4    220
Name: page 1 (main category), dtype: int64

In [59]:
42672/(42672+34565)

0.5524813237179073

In [60]:
df3['species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: species, dtype: int64

In [61]:
1/(1+0.5)

0.6666666666666666

In [62]:
1/(1+0.33)

0.7518796992481203

In [63]:
1/(1+0.11)

0.9009009009009008

In [64]:
y_col = ["sl", "page 1 (main category)", "species"]
minority_class = [4, 4, "Iris-setosa"]
datasets = [{'balanced': df1,}, {'balanced': df2}, {'balanced': df3}]
k_folds = []

In [65]:
imbalance = [("low", 0.5), ("medium", 0.33), ("high", 0.11)]

In [66]:
# generate three versions of each dataset
for i in range(3):
    for version, frac in imbalance:
        df_balanced = datasets[i]['balanced']
        datasets[i][version] = pd.concat([df_balanced[df_balanced[y_col[i]]==minority_class[i]].sample(frac=frac), 
                                          df_balanced[df_balanced[y_col[i]]!=minority_class[i]]])

In [72]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, f1_score

In [73]:
# getting the baseline resutls for each dataset using Random Forest with 10 fold cross validation
baseline_results = []
for i in range(3):
    baseline_results.append({})
    for version , df in datasets[i].items():
        rf = RandomForestClassifier()
        cv = StratifiedKFold(n_splits=10)
        y = df[y_col[i]]
        X = df.drop(y_col[i], axis=1)
        cv_score = cross_val_score(rf, X, y, cv=cv, scoring='f1_macro')
        baseline_results[i][version] = {'f1_macro_mean' : cv_score.mean(), 'f1_macro_std': cv_score.std()}

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [74]:
# splitting each dataset into 10 folds
k_folds = []
for i in range(3):
    k_folds.append({})
    for version , df in datasets[i].items():
        cv = StratifiedKFold(n_splits=10)
        y = df[y_col[i]]
        X = df.drop(y_col[i], axis=1)
        k_folds[i][version] = list(cv.split(X, y))

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_split.py:670: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [78]:
results = []
first_9_folds_cluster_info = []

for i in range(3):
    results.append({})
    first_9_folds_cluster_info.append({})
    for version in k_folds[i]:
        f1_scores = []
        
        # going over each fold combination (9 folds for training, and one fold for testing, just like cross validation)
        for fold in range(10):
            # getting X_train, y_train (9 folds) , X_test , y_test (1 fold)
            train_indecies, test_indecies = k_folds[i][version][fold]
            df = datasets[i][version]
            df_train = df.iloc[train_indecies]
            df_test = df.iloc[test_indecies]
            y_train = df_train[y_col[i]]
            X_train = df_train.drop(y_col[i], axis=1)
            y_test = df_train[y_col[i]]
            X_test = df_train.drop(y_col[i], axis=1)
            # Working out the best K for K means clustering by trying values from 2 to 5 and picking the one
            # with highest silhouette score (based on the X_train, the 9 folds)
            best_k = None
            best_clustering = None
            best_kmeans = None
            best_score = -float('inf')
            for k in range(2, 6):
                kmeans = KMeans(k)
                clusters = kmeans.fit_predict(X_train)
                score = silhouette_score(X_train, clusters)
                if score > best_score:
                    best_score = score
                    best_k = k
                    best_clustering = clusters
                    best_kmeans = kmeans
            
            # getting the cluster centres, and working out the nearest cluster for each point in the test fold
            cluster_centers = best_kmeans.cluster_centers_
            y_test_clustering = best_kmeans.predict(X_test)
            y_test_pred = y_test.copy()
            cluster_num_classes = []
            minority_class_counts = []

            for j in range(best_k):
                # working out the number of classes in each cluster
                cluster_classes = y_train[best_clustering == j]
                cluster_classes_count = cluster_classes.value_counts()
                cluster_num_classes.append(len(cluster_classes_count))
                # find out the number of elements from the minority class for each cluster
                minority_class_counts.append(cluster_classes_count.get(minority_class[i], 0))
                # if there is only one class, predict each element in the test set for that cluster as that class
                if len(cluster_classes_count) == 1:
                    y_test_pred[y_test_clustering == j] = cluster_classes.iloc[0]
                else:
                    # otherwise, train a random forest classifier for that cluster and use it to predict
                    # elements from the test set that are assigned to that cluster
                    X_train_cluster = X_train[best_clustering == j]
                    rf = RandomForestClassifier()
                    rf.fit(X_train_cluster, cluster_classes)
                    y_test_pred[y_test_clustering == j] = rf.predict(X_test[y_test_clustering == j])
                
            if fold == 0:
                # for the first split, save the cluster info into first_9_folds_cluster_info
                first_9_folds_cluster_info[i][version] = {'best_k': best_k, 'cluster_centres': cluster_centers, 
                                                          'cluster_num_classes' : cluster_num_classes,
                                                          'minority_class_counts': minority_class_counts}
            # work out the f1 score for the prediction and add it to the list
            f1 = f1_score(y_test, y_test_pred, average='macro')
            f1_scores.append(f1)
        # after doing the 10 folds, and getting 10 scores, work out the mean and std
        results[i][version] = {'f1_macro_mean' : cv_score.mean(), 'f1_macro_std': cv_score.std()}

In [79]:
baseline_results

[{'balanced': {'f1_macro_mean': 0.9953777777777777,
   'f1_macro_std': 0.007060561070746784},
  'low': {'f1_macro_mean': 0.9936915573959052,
   'f1_macro_std': 0.010378772156154596},
  'medium': {'f1_macro_mean': 0.989131492983667,
   'f1_macro_std': 0.017053952359714842},
  'high': {'f1_macro_mean': 0.9861150006193483,
   'f1_macro_std': 0.03139585271354398}},
 {'balanced': {'f1_macro_mean': 0.9390349652687299,
   'f1_macro_std': 0.033957560827722985},
  'low': {'f1_macro_mean': 0.9178868334242687,
   'f1_macro_std': 0.02528528186748168},
  'medium': {'f1_macro_mean': 0.8903990253862908,
   'f1_macro_std': 0.047229580966226196},
  'high': {'f1_macro_mean': 0.8162770121322461,
   'f1_macro_std': 0.0891462072123724}},
 {'balanced': {'f1_macro_mean': 0.9597306397306398,
   'f1_macro_std': 0.044385023026018204},
  'low': {'f1_macro_mean': 0.9597306397306398,
   'f1_macro_std': 0.044385023026018204},
  'medium': {'f1_macro_mean': 0.9663299663299663,
   'f1_macro_std': 0.03367003367003368},
  'high': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329}}]

In [80]:
results

[{'balanced': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'low': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'medium': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'high': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329}},
 {'balanced': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'low': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'medium': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'high': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329}},
 {'balanced': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'low': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'medium': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329},
  'high': {'f1_macro_mean': 0.942962962962963,
   'f1_macro_std': 0.05984107556176329}}]

In [81]:
first_9_folds_cluster_info

[{'balanced': {'best_k': 2,
   'cluster_centres': array([[90.1878209 , 25.3241791 , 89.91152239, 15.52626866, 87.70041791,
           98.94746269,  1.09232836, 73.31044776],
          [54.88454849, 18.62565886, 95.37407358,  8.23620067, 93.75729766,
           79.03451505,  6.02498997, 56.56414716]]),
   'cluster_num_classes': [3, 3],
   'minority_class_counts': [114, 0]},
  'low': {'best_k': 2,
   'cluster_centres': array([[86.79133333, 24.34238596, 90.79164912, 14.57308772, 88.67522807,
           97.4377193 ,  1.56277193, 70.85596491],
          [53.9587234 , 18.48822695, 95.49339007,  8.08011348, 93.89730496,
           78.40836879,  6.14788652, 56.22056738]]),
   'cluster_num_classes': [3, 3],
   'minority_class_counts': [56, 0]},
  'medium': {'best_k': 2,
   'cluster_centres': array([[53.4589781 , 18.40437956, 95.5860438 ,  7.97938686, 94.00423358,
           78.01080292,  6.24840876, 56.01094891],
          [85.16029493, 23.9001659 , 91.1637235 , 14.1401659 , 89.08637788,
           96.70857143,  1.76571429, 69.75041475]]),
   'cluster_num_classes': [3, 3],
   'minority_class_counts': [0, 37]},
  'high': {'best_k': 2,
   'cluster_centres': array([[82.34038835, 23.14050485, 91.65650485, 13.41658252, 89.62407767,
           95.3992233 ,  2.07013592, 67.85126214],
          [52.77738462, 18.29329231, 95.72196923,  7.85064615, 94.16006154,
           77.51553846,  6.39833846, 55.73323077]]),
   'cluster_num_classes': [3, 3],
   'minority_class_counts': [12, 0]}},
 {'balanced': {'best_k': 2,
   'cluster_centres': array([[2.66832579e+01, 5.94928281e+03, 6.40723982e+00, 3.36425339e+00,
           1.25339367e+00, 4.30022624e+01, 1.49773756e+00],
          [2.68930131e+01, 1.79315502e+04, 5.95633188e+00, 3.22270742e+00,
           1.29475983e+00, 4.40349345e+01, 1.49563319e+00]]),
   'cluster_num_classes': [4, 4],
   'minority_class_counts': [92, 106]},
  'low': {'best_k': 2,
   'cluster_centres': array([[2.63384224e+01, 6.01105089e+03, 6.50381679e+00, 3.40458015e+00,
           1.24427481e+00, 4.39058524e+01, 1.50381679e+00],
          [2.66960784e+01, 1.78496127e+04, 5.92647059e+00, 3.25245098e+00,
           1.27450980e+00, 4.50441176e+01, 1.50490196e+00]]),
   'cluster_num_classes': [4, 4],
   'minority_class_counts': [43, 56]},
  'medium': {'best_k': 2,
   'cluster_centres': array([[2.63218085e+01, 6.11420745e+03, 6.53989362e+00, 3.38563830e+00,
           1.22074468e+00, 4.41010638e+01, 1.51063830e+00],
          [2.65473146e+01, 1.78159463e+04, 5.99488491e+00, 3.27621483e+00,
           1.26086957e+00, 4.54219949e+01, 1.50639386e+00]]),
   'cluster_num_classes': [4, 4],
   'minority_class_counts': [26, 39]},
  'high': {'best_k': 2,
   'cluster_centres': array([[2.61863014e+01, 6.03855342e+03, 6.57808219e+00, 3.41095890e+00,
           1.21369863e+00, 4.44219178e+01, 1.51232877e+00],
          [2.63156425e+01, 1.78035503e+04, 6.01955307e+00, 3.29050279e+00,
           1.24301676e+00, 4.62681564e+01, 1.50558659e+00]]),
   'cluster_num_classes': [4, 4],
   'minority_class_counts': [15, 6]}},
 {'balanced': {'best_k': 2,
   'cluster_centres': array([[6.2862069 , 2.87931034, 4.94137931, 1.68735632],
          [5.02083333, 3.36875   , 1.57916667, 0.29791667]]),
   'cluster_num_classes': [2, 2],
   'minority_class_counts': [0, 45]},
  'low': {'best_k': 2,
   'cluster_centres': array([[6.2862069 , 2.87931034, 4.94137931, 1.68735632],
          [5.052     , 3.32      , 1.696     , 0.336     ]]),
   'cluster_num_classes': [2, 2],
   'minority_class_counts': [0, 22]},
  'medium': {'best_k': 2,
   'cluster_centres': array([[6.30116279, 2.88953488, 4.95813953, 1.69534884],
          [5.05555556, 3.16666667, 1.87222222, 0.40555556]]),
   'cluster_num_classes': [2, 2],
   'minority_class_counts': [0, 14]},
  'high': {'best_k': 3,
   'cluster_centres': array([[6.88484848, 3.07575758, 5.75757576, 2.07878788],
          [4.92      , 3.42      , 1.54      , 0.32      ],
          [5.87192982, 2.74035088, 4.37719298, 1.42631579]]),
   'cluster_num_classes': [2, 1, 2],
   'minority_class_counts': [0, 5, 0]}}]